<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="smarkdata" type="Smark.Data.SmarkDataSection,Smark.Data"/>
    <section name="peanutSection" type="Peanut.PeanutSection, Peanut"/>

  </configSections>
  <smarkdata initHandler="Clay.Web.App.Code.DB.DBInit,Clay.Web.App">
    <Connection>
      <add name="0" type="Smark.Data.MSAccess,Smark.Data" connectionstring="Provider=Microsoft.Jet.OleDb.4.0;Data Source=Northwind.mdb"/>
    </Connection>
    <Assembly>
      <add type="Clay.Modules"/>
    </Assembly>
  </smarkdata>
  <peanutSection>
    <assemblies>
      <clear/>
      <add assembly="Clay.Web.App"/>
    </assemblies>
  </peanutSection>

  <system.web>
    <httpRuntime requestValidationMode="2.0" requestPathInvalidCharacters=""/>
    <compilation debug="true" targetFramework="4.0" />

    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
      <namespaces>
        <clear/>
        <add namespace="Smark.Core"/>
        <add namespace="Clay.Enums"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="Peanut"/>
        <add namespace="Peanut.Html"/>
        <add namespace="Clay.Modules"/>
        <add namespace="Clay"/>
        <add namespace="Clay.Web"/>
        <add namespace="Clay.Web.App.Code"/>
      </namespaces>
    </pages>
    <httpHandlers>
      <add path="*.aspx"  verb="*" type="Clay.Web.PageViewFactory,Clay.Web"/>
    </httpHandlers>
    <httpModules>
      <add name="peanut" type="Peanut.ActionModule,Peanut"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <add name="peanut" type="Peanut.ActionModule,Peanut"/>
    </modules>
  </system.webServer>
</configuration>
